{% for proj in project %}
<div class="portfolio-modal modal fade" id="{{ proj.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" ng-controller="projectController">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 editable-text="project[{{ proj.id }}].title" onaftersave="updateProject()">{{ proj.angular_title }}</h2>
                            <hr class="star-primary">
                            <img id="uploadFile{{ proj.id }}" src="{{ proj.image_url }}" class="img-responsive img-centered" alt="">
                            <p editable-textarea="project[{{ proj.id }}].description" onaftersave="updateProject()">{{ proj.angular_description }}</p>
{#                            <div id="uploadFile{{ proj.id }}"><h1>UPLOAD</h1></div>#}
                            <ul class="list-inline item-details">

{#                                {% load jfutags %}#}
{#                                {% jfu %}#}
<!--
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>-->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var myDropzone{{ proj.id }} = new Dropzone("img#uploadFile{{ proj.id }}", {url: '/upload/{{ proj.id }}/'});
    myDropzone{{ proj.id }}.on('success', function(file, response){
        console.log("yeay");
        console.log(response);
        $("img#uploadFile{{ proj.id }}").attr('src',response.image_url);
        $(".thumbnail{{ proj.id }}").attr('src', response.image_url);
    })

    </script>

{% endfor %}